[project]
name = "hmr"
readme = "README.md"
dynamic = ["version"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed",
]
keywords = ["reactive-programming", "hot-module-reload", "signals", "hmr"]
requires-python = ">=3.12"
description = "Hot Module Reload and Fine-grained Reactive Programming for Python"
dependencies = ["watchfiles>=0.21,<2 ; sys_platform != 'emscripten'"]

[project.scripts]
hmr = "reactivity.hmr.run:main"

[project.urls]
Homepage = "https://pyth-on-line.promplate.dev/hmr"
Documentation = "https://hmr.promplate.dev/"
Repository = "https://github.com/promplate/hmr"
Changelog = "https://github.com/promplate/pyth-on-line/commits/main/packages/hmr"

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm]
version = { source = "file", path = "reactivity/hmr/core.py" }
