name: python checks

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.14
          activate-environment: true
      - name: Install dependencies
        run: |
          uv pip install -r pyproject.toml basedpyright isort black --color always
      - name: Run isort check
        run: |
          python -m isort . --check --diff
      - name: Run black check
        run: |
          python -m black . --check --diff --extend-exclude tests
      - name: Run Ruff check
        run: |
          ruff check --output-format github
          ruff format --check --diff
      - name: Run pyright check
        run: |
          basedpyright
  test:
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows, macos]
        py: [3.13, 3.14]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up python ${{ matrix.py }}
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.py }}
          activate-environment: true
      - name: Install dependencies
        run: |
          uv pip install -r pyproject.toml --color always ${{ matrix.os == 'windows' && 'pytest-rerunfailures' || '' }}
      - name: Run tests
        run: |
          pytest -v --color=yes ${{ matrix.os == 'windows' && '--reruns 500' || '' }}
  publish-hmr:
    needs: [test, check]
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          sparse-checkout: packages/hmr
      - name: Set up python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.14
          activate-environment: true
      - name: Remove admonitions from READMEs
        run: |
          find . -type f -name "README.md" -exec sed -i -E '/^> \[!(NOTE|TIP|IMPORTANT|WARNING|CAUTION)\]$/d' {} +
      - name: Remove all noqa comments
        run: |
          uvx ruff check --select RUF100 --show-fixes --fix packages/hmr
      - name: Build package
        run: uv build packages/hmr --wheel
      - name: Publish to PyPI
        continue-on-error: true
        run: uv publish
